RPC_ENDPOINT= "RPC_ENDPOINT.COM"
LIQUIDATOR_PK="GET THIS FROM RUNNING setup.ts"
WALLET_KEYPAIR="PATH/wallet.json - Can generate this new with Solana CLI if needed."
MIN_LIQUIDATION_AMOUNT_USD_UI=".1"
MAX_SLIPPAGE_BPS="250"
MIN_SOL_BALANCE=0.5
ACCOUNT_COOL_DOWN_SECONDS="120"
SLEEP_INTERVAL="10000"
SENTRY="false"
SORT_ACCOUNTS_MODE="false"
EXCLUDE_ISOLATED_BANKS=false