.border-SOL {
  border-image: theme("borderImage.SOL");
  border-image-slice: 1;
}

.border-USDC {
  /* @apply border-2; */
  border-image: theme("borderImage.USDC");
  border-image-slice: 1;
}

.border-mSOL {
  /* @apply border-2; */
  border-image: theme("borderImage.mSOL");
  border-image-slice: 1;
}

.border-BONK {
  /* @apply border-2; */
  border-image: theme("borderImage.BONK");
  border-image-slice: 1;
}

.border-USDT {
  /* @apply border-2; */
  border-image: theme("borderImage.USDT");
  border-image-slice: 1;
}

.border-ETH {
  /* @apply border-2; */
  border-image: theme("borderImage.ETH");
  border-image-slice: 1;
}

.border-WBTC {
  /* @apply border-2; */
  border-image: theme("borderImage.WBTC");
  border-image-slice: 1;
}

.border-JitoSOL {
  /* @apply border-2; */
  border-image: theme("borderImage.JitoSOL");
  border-image-slice: 1;
}

.border-UXD {
  /* @apply border-2; */
  border-image: theme("borderImage.UXD");
  border-image-slice: 1;
}

.border-HNT {
  /* @apply border-2; */
  border-image: theme("borderImage.HNT");
  border-image-slice: 1;
}

.border-stSOL {
  /* @apply border-2; */
  border-image: theme("borderImage.stSOL");
  border-image-slice: 1;
}

.border-bSOL {
  /* @apply border-2; */
  border-image: theme("borderImage.SOL");
  border-image-slice: 1;
}
