#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #101416 0%, #080a0b 95.03%);
  border-radius: 25px;
  width: 40%;
  max-width: 400px;
  border: 2px solid #000;
  font-family: "Aeonik Pro";
  font-weight: 300;
  font-size: 18px;
}

#overlay {
  width: 100%;
  height: 100%;
  background-image: url(../../../../public/WaveBG2.png);
  background-size: 444px;
  padding: 20px 30px;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin: 0;
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#description {
  width: 100%;
  margin-top: 40px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-weight: 200;
}

#table {
  width: 60%;
  margin: 0;
  justify-content: center;
  justify-content: space-between;
  font-weight: 300;
  line-height: 25px;
}

.table-cell {
  width: 100%;
  padding-left: 0;
  justify-content: center;
}

#special-row {
  width: 90%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#second-row {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#link-text {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#copy-link {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.action-button-disabled {
  background-color: #6d6d6d !important;
}
