@font-face {
  font-family: "Aeonik Pro";
  src: url(../fonts/AeonikPro-Regular.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url(../fonts/AeonikPro-Medium.otf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
