@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 3% 6%;
    --foreground: 0 0% 98%;

    --card: 180 3% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 180 3% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 197 11% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 197 11% 12%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 207 12% 18%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 197 11% 15%;
    --input: 197 11% 12%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;

    /* brand vars */
    --mrgn-chartreuse: 66 75% 64%;
    --mrgn-gold: 33 16% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}
