@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --accent-secondary: 0 0% 100%;
    --destructive: 7 65% 66%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* brand vars */
    --mrgn-green: 78 100% 43%;
    --mrgn-chartreuse: 66 75% 64%;
    --mrgn-gold: 33 16% 67%;
    --mrgn-slate: 72 3% 32%;

    --mfi-action-box-background: 0 0% 100%;
    --mfi-action-box-foreground: 240 10% 3.9%;
    --mfi-action-box-accent: 240 4.8% 95.9%;
    --mfi-action-box-accent-foreground: 240 5.9% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  body {
    @apply bg-background text-foreground;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Aeonik Pro";
  font-weight: 400;
}

.mrgn-bg-gradient {
  background: radial-gradient(circle at 50% 50%, rgba(255, 249, 146, 0.15) 30%, #ffffff 70%);
  background-attachment: fixed;
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .mrgn-bg-gradient {
    background-size: 65%;
    background-position: center;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1.8s infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #131719;
}

::-webkit-scrollbar-thumb {
  background: #2a2f33;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #131719;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#MAYAN_SWAP_PV_ROOT {
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  width: auto !important;
  font-family: "Aeonik Pro";
}

#MAYAN_SWAP_PV_ROOT .MuiButtonBase-root.MuiButton-fullWidth {
  font-family: "Aeonik Pro";
  background: hsl(var(--secondary-foreground));
  color: hsl(var(--secondary));
  border-radius: 6px;
  height: 43px;
}

#MAAYAN_SWAP_PV_ROOT .MuiBox-root .MuiLink-underlineAlways {
  opacity: 0;
}

#MAYAN_SWAP_PV_ROOT .MuiTypography-body1 {
  color: hsl(var(--foreground));
}

/* Jupiter Terminal Overrides */
#jupiter-terminal a[href^="https://jup.ag/"]
{
  opacity: 0;
  pointer-events: none;
}

#jupiter-terminal .text-white,
#jupiter-terminal .text-white\/75,
#jupiter-terminal .text-white\/50 {
  color: hsl(var(--foreground)) !important;
}

#jupiter-terminal .bg-\[\#212128\],
#jupiter-terminal .bg-\[\#191B1F\] {
  background: hsl(var(--accent)) !important;
  color: hsl(var(--accent-foreground)) !important;
  border-radius: 8px !important;
}

#jupiter-terminal .bg-\[\#212128\],
#jupiter-terminal .bg-\[\#191B1F\] .text-white {
  color: hsl(var(--accent-foreground)) !important;
}

#jupiter-terminal .bg-jupiter-bg {
  background: hsl(var(--background)) !important;
}

#jupiter-terminal button.bg-\[\#191B1F\].dark\:bg-black\/50 {
  border-radius: 4px !important;
  background: hsl(var(--primary)) !important;
}

#jupiter-terminal button.bg-\[\#191B1F\].dark\:bg-black\/50 div {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

#jupiter-terminal button.bg-\[\#191B1F\].dark\:bg-black\/50 div span {
  background: none !important;
  color: hsl(var(--primary-foreground)) !important;
  font-family: "Aeonik Pro" !important;
  font-weight: 500 !important;
}

#jupiter-terminal li.cursor-pointer.list-none > div {
  background: #1b2022;
}

#jupiter-terminal > div > div > div > div > div.flex.justify-center.mt-12 {
  margin-top: 0 !important;
}

#jupiter-terminal > div > div > div > div > div.mt-auto.px-5.pb-4.flex.space-x-2 {
  padding: 0 !important;
}

#jupiter-terminal form .rounded-xl button {
  border-radius: 6px !important;
  background: hsl(var(--background)) !important;
  border: solid 1px hsl(var(--border)) !important;
  color: hsl(var(--foreground)) !important;
}

#jupiter-terminal form .rounded-xl button:hover {
  background: hsl(var(--background)) !important;
  color: hsl(var(--foreground)) !important;
}

#jupiter-terminal form .rounded-xl button span {
  color: hsl(var(--muted-foreground)) !important;
}

#jupiter-terminal form .rounded-xl button .font-semibold {
  margin-left: 8px !important;
}

#jupiter-terminal .text-white\/30,
#jupiter-terminal input.text-white {
  color: hsl(var(--secondary-foreground)) !important;
}

#jupiter-terminal .bg-\[\#36373E\]:hover {
  background: hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
}

#jupiter-terminal .border.border-black\/50 {
  border: none !important;
}

#jupiter-terminal .border.border-black\/50 path {
  fill: hsl(var(--primary)) !important;
}

#jupiter-terminal .bg-\[\#25252D\] {
  background: hsl(var(--background)) !important;
  color: hsl(var(--accent-foreground)) !important;
  border: none !important;
}

#jupiter-terminal .bg-\[\#25252D\] .text-white\/75 {
  color: hsl(var(--accent-foreground)) !important;
}

#jupiter-terminal a.text-white\/50 {
  color: hsl(var(--accent-foreground)) !important;
  text-decoration: underline !important;
}

#jupiter-terminal .bg-v3-modal {
  background: hsl(var(--accent)) !important;
}

#jupiter-terminal .bg-v2-lily\/10 {
  background: hsl(var(--background)) !important;
}

#jupiter-terminal .bg-v2-lily\/10.w\-\[98\%\] {
  height: auto !important;
  color: hsl(var(--foreground)) !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-size: 14px !important;
}

#jupiter-terminal .bg-v2-lily\/10.w\-\[98\%\] svg {
  width: 12px !important;
  height: 12px !important;
}

#jupiter-terminal .bg-v2-lily\/10.w\-\[98\%\]::placeholder {
  color: hsl(var(--foreground)) !important;
}
