.countdown-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.countdown-item {
  color: #51b56a;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 20px;
  margin: 1px;
  position: relative;
  height: 50px;
}

.countdown-item span {
  margin-top: 5px;
  color: #51b56a;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
