@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fadeOut {
    animation: fadeOut 0.8s ease-in-out forwards;
  }

  .animate-slideDown {
    animation: slideDown 0.8s ease-in-out forwards;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
} 