@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 204 17% 6%;

    --card: 0 0% 100%;
    --card-foreground: 204 17% 6%;

    --popover: 0 0% 100%;
    --popover-foreground: 204 17% 6%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 204 13% 8%;
    --secondary-foreground: 0 0% 9%;

    --muted: 204 13% 8%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 204 13% 8%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 204 17% 6%;

    --radius: 0.5rem;

    /* brand vars */
    --mrgn-chartreuse: 66 75% 64%;
    --mrgn-gold: 33 16% 67%;
    --mrgn-slate: 72 3% 32%;
  }

  .dark {
    --background: 204 17% 6%;
    --foreground: 0 0% 98%;

    --card: 204 17% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 204 17% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 197 11% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 197 11% 12%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 197 11% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 204 13% 12%;
    --input: 204 13% 12%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: #090a0a;
    background: radial-gradient(50% 50% at 50% 50%, #101212 10%, #090a0a 80%);
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 20px; /* width of the entire scrollbar */
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--background)); /* color of the tracking area */
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--accent)); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 6px solid hsl(var(--background)); /* creates padding around scroll thumb */
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
