ENVIRONMENT=local-development
DIALECT_SDK_ENVIRONMENT=development
DIALECT_SDK_CREDENTIALS="add private key"

MRGN_ENV=production
MARGINFI_RPC_ENDPOINT="Add endpoint"

HEALTH_FACTOR_THRESHOLD=0.20
CACHE_TTL_MS=50000
POLLING_DURATION=60