/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* AEONIK PRO */

@font-face {
  font-family: "Aeonik Pro";
  src: url(../assets/Aeonik_Pro/AeonikPro-Air.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url(../assets/Aeonik_Pro/AeonikPro-Thin.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url(../assets/Aeonik_Pro/AeonikPro-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url(../assets/Aeonik_Pro/AeonikPro-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url(../assets/Aeonik_Pro/AeonikPro-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url(../assets/Aeonik_Pro/AeonikPro-Bold.otf);
  font-weight: 600;
  font-style: normal;
}

/* IBM Plex Sans */

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../assets/IBM_Plex_Sans/IBMPlexSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../assets/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../assets/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../assets/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../assets/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../assets/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../assets/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

/* IBM Plex Mono */

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../assets/IBM_Plex_Mono/IBMPlexMono-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../assets/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../assets/IBM_Plex_Mono/IBMPlexMono-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../assets/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../assets/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../assets/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../assets/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
