@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background-image: radial-gradient(farthest-side at 10% 10%, #171c1f 10%, #010101 80%);
  background-color: #010101;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Aeonik Pro";
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1.8s infinite;
}

.glow-on-hover:hover {
  text-shadow: 0 0 10px #dce85d, 0 0 30px #dce85d;
  color: #dce85d !important;
}

.glow {
  text-shadow: 0 0 10px #dce85d, 0 0 30px #dce85d;
  color: #dce85d !important;
}

.MuiPopover-paper {
  box-shadow: 0 0 10px #dce85d;
}
