@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background-color: #0F1111;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Aeonik Pro";
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    opacity: 0.90;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.90;
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1.8s infinite;
}

.glow-on-hover:hover {
  text-shadow: 0 0 10px #DCE85D, 0 0 30px #DCE85D;
  filter: drop-shadow(0 0 10px #DCE85D) drop-shadow(0 0 30px #DCE85D);
  color: #DCE85D !important;
  fill: #DCE85D !important;
}

.hover-underline-static {
  display: inline-block;
  position: relative;
}

.hover-underline-static::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7fff00;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7fff00;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.glow {
  text-shadow: 0 0 10px #DCE85D, 0 0 30px #DCE85D;
  color: #DCE85D !important;
}

.glow-uxd {
  text-shadow: 0 0 10px #05FFFF, 0 0 30px #05FFFF;
  color: #05FFFF !important;
}

#MAYAN_SWAP_PV_ROOT {
  width: 420px;
  padding-left: 0px;
  padding-right: 0px;
}
