.gradient-border-box {
  --gbb-border-width: 1px;
  --gbb-radius: 10px;

  position: relative;
  border-radius: var(--gbb-radius);
  border: var(--gbb-border-width) solid transparent;
  box-shadow: 0 0 50px rgba(36, 123, 160, 0.15);
  transition: all 0.3s;
}

.gradient-border-box:hover {
  box-shadow: 0 0 50px rgba(36, 123, 160, 0.25);
  transform: scale(1.01);
}

.gradient-border-box::before {
  content: " ";
  position: absolute;
  inset: calc(var(--gbb-border-width) * -1);
  z-index: -1;
  border: inherit;
  border-radius: inherit;
  background-image: conic-gradient(from var(--angle), #247ba0 80%, #ffffb5 88%, #ffffb5 92%, #247ba0 100%);
  background-origin: border-box;
  -webkit-mask: linear-gradient(#131719, #131719) content-box, linear-gradient(#131719, #131719);
  mask: linear-gradient(#131719, #131719), linear-gradient(#131719, #131719);
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spin 3s linear infinite;
  /* opacity: 0.6; */
}

.gradient-border-box.delayed::before {
  animation-delay: 1.5s;
}

@supports not (background: paint(something)) {
  .gradient-border-box::before {
    background-image: conic-gradient(#a2e6e7 80%, #f7f7b0 88%, #f7f7b0 92%, #a2e6e7 100%);
    /* opacity: 0.6; */
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}
